@use "../../Styles/variables" as *;
@use "../../Styles/mixins" as *;

.landing {
  background-color: $primary-background;
  min-width: 320px;
  width: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
