@use "../../Styles/variables" as *;
@use "../../Styles/mixins" as *;

.hero {
  background: url("../../Assets/Background/HeroBackground.png");
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  height: 100dvh;
  width: 100%;
  padding: 0 20px;

  @include Tablet {
    min-height: 100dvh;
    height: 100%;
    padding: 90px 50px;
  }

  &__title {
    color: $white;
    font-size: clamp(2rem, 5vw + 1rem, 4rem);
    font-weight: 400;
    line-height: 1.2;
  }

  &__text {
    color: $white;
  }

  &__main-container {
    width: 100%;
    max-width: 1280px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 650px;

    @include Tablet {
      gap: 60px;
      width: 100%;
    }
  }

  &__button {
    @include Button;
    background-color: $primary-color;
    color: black;
    border: none;
    height: 60px;
    font-size: clamp(1.25rem, 3vw, 1.75rem);
  }

  &__img {
    display: none;
    @include Tablet {
      display: flex;
      width: 40%;
      max-width: 500px;
    }
  }
}
