@use "./variables" as *;

@mixin Phone {
  @media screen and (max-widht: 430px) {
    @content;
  }
}

@mixin Tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin Desktop {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin Button {
  font-weight: 700;
  height: 45px;
  width: fit-content;
  padding: 10px 20px;
  display: block;
  background-color: transparent;
  border: 2px solid $white;
  color: $white;
  cursor: pointer;
  font-size: 1rem;
}
