@use "./variables" as *;

@mixin Phone {
  @media screen and (max-width: 430px) {
    @content;
  }
}

@mixin Tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin Desktop {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin Button {
  background-color: $primary-red;
  color: $white;
  font-weight: 700;
  font-size: 1rem;

  padding: 10px 20px;
  height: 45px;
  width: fit-content;

  border: none;
  border-radius: 4px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: background-color 0.25s ease;

  &:hover {
    background-color: darken($primary-red, 8%);
  }
}
