$white: #f5f5f5;
$black: #1a1a1a;

$primary-red: #8b0016;
$primary-beige: #e0dad2;
$beige-alt: rgb(213.5986842105, 205.5855263158, 194.9013157895);
$primary-gray: #6666;
$background-gradient: linear-gradient(
  180deg,
  #1e232b 38%,
  rgba(30, 35, 43, 0.9) 94% 100%
);

$background-dark: #1e232b;
