@use "../../Styles/variables" as *;
@use "../../Styles/mixins" as *;

.contact {
  background-color: $primary-beige;

  &__socials {
    display: flex;
    gap: 20px;
  }

  &__social {
    width: 42px;
    height: 42px;
    background-color: $primary-beige;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.2s ease;

    img {
      width: 20px;
      height: 20px;
    }

    &:hover {
      transform: translateY(-4px);
      background-color: #ffb842;
    }
  }

  &__info {
    color: $white;
    width: 100%;

    gap: 20px;
    display: flex;
    flex-direction: column;

    align-items: center;
    max-width: 410px;
    padding: 20px;

    @include Tablet {
      justify-content: space-evenly;
      height: 530px;
    }

    &-title {
      font-size: 2rem;
    }
    &-subheader {
      font-size: 1rem;
      text-align: center;
    }
    &-text {
      font-size: 1.5rem;
    }
  }

  &__background {
    background-image: url("../../Assets/Background/BackgroundImage.png");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    min-height: 100dvh;
    align-items: center;
    gap: 20px;
    padding: 90px 0px 20px 0;

    @include Tablet {
      gap: 50px;
    }
  }

  &__form {
    width: 100%;
    max-width: 500px;
    height: 530px;
    &__title {
      font-family: "Inria Serif";
      font-weight: 700;
      text-align: center;
      color: $black;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.2;
      text-align: center;
    }

    &__input {
      font-family: "Source Sans 3";
      font-size: 1rem;
      background-color: $white;
      color: $black;
      height: 50px;
      width: 100%;
      border: none;
      padding: 10px;
      border-radius: 8px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    }

    &__textarea {
      font-family: "Source Sans 3";
      color: $black;
      font-size: 1rem;
      background-color: $white;
      height: 150px;
      width: 100%;
      border: none;
      padding: 10px;
      border-radius: 8px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    }

    &__button {
      @include Button;
    }

    &__container {
      background-color: $primary-beige;
      width: 100%;
      height: 100%;
      gap: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
      border-radius: 12px;
      border: 2px solid #1a1a1a;
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    }
  }
}
