@use "../../Styles/variables" as *;
@use "../../Styles/mixins" as *;

.contact-form {
  display: none;
  width: 100%;
  max-width: 450px;
  padding: 20px;
  flex-direction: column;
  background-color: $white;
  gap: 20px;

  @include Desktop {
    display: flex;
  }

  &__title {
    font-family: "Inria Serif";
    font-weight: 700px;
  }

  &__input {
    font-family: "Source Sans 3";
    font-size: 1rem;
    background-color: #eee;
    height: 50px;
    width: 100%;
    border: none;
    padding: 10px;
  }

  &__textarea {
    font-family: "Source Sans 3";
    font-size: 1rem;
    background-color: #eee;
    height: 200px;
    width: 100%;
    border: none;
    padding: 10px;
  }

  &__button {
    @include Button;
    color: $black;
    border: 2px solid $black;
    width: 100%;
    max-width: 200px;
  }
}
