@use "../../Styles/variables" as *;
@use "../../Styles/mixins" as *;

.footer {
  width: 100%;
  background-color: $background-dark;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include Tablet {
    padding: 90px 50px;
  }

  &__container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-between;
  }

  &__about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  &__contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    &-item {
      color: $white;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 8px;

    &-text {
      font-size: 1.5rem;
      font-weight: 600;
      color: $white;
    }

    &-icon {
      width: 50px;
    }
  }

  &__description {
    line-height: 1.6;
    color: $white;
    max-width: 380px;

    @media (max-width: 900px) {
      margin: 20px auto;
    }
  }

  &__socials {
    display: flex;
    gap: 16px;

    @media (max-width: 900px) {
      justify-content: center;
    }
  }

  &__social {
    width: 42px;
    height: 42px;
    background-color: $primary-beige;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.2s ease;

    img {
      width: 20px;
      height: 20px;
    }

    &:hover {
      transform: translateY(-4px);
      background-color: $white;
    }
  }

  &__hours {
    &-title {
      font-size: 1.5rem;
      color: $white;
      margin-bottom: 4px;
    }

    &-text {
      font-size: 1rem;
      color: $white;
    }
  }

  &__title {
    color: $white;
    font-size: 1.5rem;
  }

  &__contact-item {
    display: flex;
    gap: 12px;
    margin-bottom: 18px;

    @media (max-width: 900px) {
      justify-content: center;
    }
  }

  &__icon {
    font-size: 1.25rem;
    width: 25px;
  }

  p {
    margin: 0;
    color: $white;
    line-height: 1.4;
  }

  &__service-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    list-style: none;

    li {
      margin-bottom: 14px;
      color: $white;
      position: relative;
      padding-left: 18px;

      &::before {
        content: "•";
        position: absolute;
        left: 0;
        font-size: 1.25rem;
        color: $white;
      }
    }
  }

  &__services {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__bottom {
    margin-top: 60px;
    border-top: 1px solid $primary-beige;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    color: $white;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 900px) {
      flex-direction: column;
      gap: 10px;
      text-align: center;
    }
  }
}
